absl-py==2.1.0
asgiref==3.8.1
asttokens==2.4.1
boto3==1.34.111
botocore==1.34.111
certifi==2023.7.22
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cryptography==42.0.5
cycler==0.10.0
decorator==5.1.1
Django==4.2.11
django-extensions==3.2.3
exceptiongroup==1.2.1
executing==2.0.1
filelock==3.14.0
fire==0.6.0
fonttools==4.51.0
fsspec==2024.5.0
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.64.0
huggingface-hub==0.23.1
idna==2.10
install==1.3.5
intel-openmp==2021.4.0
ipython==8.24.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
kiwisolver==1.4.5
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mkl==2021.4.0
mpmath==1.3.0
networkx==3.3
numpy==1.26.4
opencv-python==4.8.1.78
opencv-python-headless==4.8.0.74
packaging==24.0
pandas==2.2.2
parso==0.8.4
pillow==10.3.0
prompt-toolkit==3.0.43
protobuf==5.26.1
psutil==5.9.8
pure-eval==0.2.2
py-cpuinfo==9.0.0
pybboxes==0.1.6
pycparser==2.22
Pygments==2.18.0
pyOpenSSL==24.1.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-magic==0.4.27
pytz==2024.1
PyYAML==6.0.1
requests==2.32.2
requests-toolbelt==1.0.0
roboflow==1.1.29
s3transfer==0.10.1
sahi==0.11.16
scipy==1.13.0
seaborn==0.13.2
shapely==2.0.4
six==1.16.0
smmap==5.0.1
sqlparse==0.5.0
stack-data==0.6.3
sympy==1.12
tbb==2021.12.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
termcolor==2.4.0
terminaltables==3.1.10
thop==0.1.1.post2209072238
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.11.0
tzdata==2024.1
ultralytics==8.2.19
urllib3==2.2.1
wcwidth==0.2.13
Werkzeug==3.0.2
whitenoise==6.6.0
yolov5==7.0.13
yolov8==0.0.2
